body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}

header {
    text-align: center;
    color: white;
    background-color: blue;
    padding: 3px;
    margin: none;
}

div {
    background-color: lightblue;
    margin: 4%;
}

#searchBtn {
    display: inline-block;
    width: auto;
}

button {
    display: block;
    width: 177px;
}

br {
    background-color: white;
}