div {
    background-color: lightblue;
    margin: 4%;
}

#searchBtn {
    display: inline-block;
    width: auto;
}

button {
    display: block;
    width: 177px;
}

br {
    background-color: white;
}